.head{
  text-align: center;
}

.stepper-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.step{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.step-number{
  background-color: grey;
  height:30px;
  width:30px;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 5px;
}

.complete .step-number {
  background-color: green;
  color: white;
  
}

.active .step-number {  
  background-color: blue;
  color: white;
}

.btn{
  height: 40px;
  width: 80px;
  background-color: rgb(33, 12, 52);
  color: white;
  margin-top: 20px;
}